html,
body,
#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

img {
  transform: translate3d(0, 0, 0);
}

/*
-------------------------
    NaiveUI 组件样式处理 
-------------------------
*/
.n-layout-toggle-bar {
  height: 44px !important;
  top: calc(40% - 22px) !important;
}

.n-layout-toggle-bar__top,
.n-layout-toggle-bar__bottom {
  height: 24px !important;
}

.n-layout-toggle-bar__bottom {
  top: 20px !important;
}

.n-modal {
  width: 60vw;
  max-width: 700px;
  min-width: min(24rem, 100vw);
  border-radius: 8px;
}

.n-modal-mask {
  backdrop-filter: blur(16px);
}

.n-image-preview-toolbar {
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.75);
  bottom: 50px;
}

.n-image-preview-toolbar>.n-base-icon {
  width: 1.5em;
}

.n-image-preview-toolbar>.n-base-icon:nth-last-child(2) {
  display: none;
}

.n-message-container {
  bottom: 30px !important;
}

.n-message-container .n-message-wrapper .n-message {
  border-radius: 12px;
}

.n-scrollbar >.n-scrollbar-rail {
  right: 0 !important;
  z-index: 20;
}
/*
-------------------------
    过渡动画样式处理
-------------------------
*/
.router-enter-active,
.router-leave-active {
  transition: all 0.2s ease;
}

.router-enter-from,
.router-leave-to {
  opacity: 0;
  transform: translateX(10px);
}
